*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
  
    background-color: black;
    width: 90%;
    height: 50%;
}

ul{
    display: flex;
    color: white;
    list-style: none;
    align-items: center;
    
    
}